<!-- intro start -->

<div class="intro">
  <p>Studying the Bible can seem daunting. Where do you start? What's with all the weird places and names? Do things written 
    thousands of years ago still apply to me today?</p>
  <p>If you find yourself asking questions like these, you're not alone. We, the church, have built up so much opinion and 
    culture around the various texts in Scripture that it's hard to know where to begin. Sometimes we're so caught up in it 
    that it seems like we “can't see the forest for the trees.”</p>
  <p>This web site's goal is to study the Bible from a different perspective: start with the “forest” and then zoom in to see 
    the “trees.” We'll start with a single, big idea and then realize smaller ideas that will guide us in understanding that 
    big idea.</p>
  <h2>What's the Biggest Idea?</h2>
</div>

<!-- intro end -->
